:root {
    --blue-primary-ui: rgb(32, 176, 219);
    --blue-primary-hover-ui: rgb(8, 126, 161);

    --red-ui: rgb(219, 32, 32);
    --red-hover-ui: rgb(153, 15, 15);

    --green-ui: rgb(17, 207, 49);
    --green-hover-ui: rgb(16, 153, 39);

    --black-hover-ui: rgb(54, 58, 55);

    --lavanda-ui: #7269ef;
    --lavanda-hover-ui: #483de3;

    --gray-ui: rgb(175, 175, 175);
    --gray-hover-ui: rgb(69, 68, 68);
    --gray-light-ui: rgb(238, 238, 238);
}